# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Local Elixir language-tooling state.
/.elixir_ls/
/.expert/

# Local custom Nerves system build products.
/systems/*/.nerves/
/systems/*/_build/
/systems/*/deps/

# Temporary files, for example, from tests.
/tmp/
__pycache__/
*.py[cod]

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump
